.carousel {
}
.photo-box {
  min-height: 100%;
  /*max-width:100%;*/
  width:100%;
  max-width:100%;
  padding:10%;
  padding-top:0px;
  /*background-color: gray;*/
}
.photo-container {
  max-width: 1280px;
  /*max-height: 720px;*/
  /*height:50%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*margin-bottom: 100px;*/
  /*align-items: center;*/
  margin:auto;
  /*min-height:1200px;*/
  /*background-color:gray;*/
  
}
.photo-container-square {
  margin:auto;
  width: 720px;
  /*height: auto;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*margin-bottom: 100px;*/
  /*align-items: center;*/
  /*min-height:1200px;*/
  /*background-color:gray;*/
  
}
.carousel-control-prev-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
}
.carousel-control-next-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png');
}
