.carousel {
}
.photo-box {
  min-height: 900px;
  /*background-color: gray;*/
}
.photo-container {
  width: 900px;
  height: 400px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*margin-bottom: 100px;*/
  /*align-items: center;*/
  margin:auto;
  /*min-height:1200px;*/
  /*background-color:gray;*/
  
}
.photo-container-square {
  margin:auto;
  width: 700px;
  height: 700px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*margin-bottom: 100px;*/
  /*align-items: center;*/
  /*min-height:1200px;*/
  /*background-color:gray;*/
  
}
.carousel-control-prev-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png');
}
.carousel-control-next-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png');
}
