.archive-text {
  font-family: 'Avenir-Light';
  font-size: 10pt;
}
.video-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.favorite-container {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.favorite-text {
  text-align: left;
  font-family: 'Avenir-Light';
  font-size: 10pt;
  margin-left: 200px;
}
.favorite-box {
  width: 200px;
  height: 80px;
  background-color: black;
}
