<div class="videography-container">
  
  <div class="video-container">
    <p class="title">{{titles[this.id]}}</p>
    <p class="subtitle">"{{subtitles[this.id]}}"</p>
    <app-youtube-player ></app-youtube-player>
    <app-social-bar ></app-social-bar>
    <div style="height:50px"></div>
  </div>

  <!-- <p class="favorite-text">Favorites</p>
  <div class="favorite-container">
    <div class="favorite-box">1</div>
    <div class="favorite-box">2</div>
    <div class="favorite-box">3</div>
  </div> -->
  
</div>
