<div class="videography-container container">
  <p class="title">{{ titles[this.id] }}</p>
  <p class="subtitle">"{{ subtitles[this.id] }}"</p>
  <div *ngIf="this.id == 'tom'" class="video-container">
    <app-youtube-player></app-youtube-player>
    <app-social-bar
      [fbUrl]="'https://www.facebook.com/theonewaymission'"
      [inUrl]=""
      [youUrl]="'https://www.youtube.com/user/thismvmt'"
      [igUrl]="'https://www.instagram.com/theonewaymission/'"
      [eUrl]=""
    ></app-social-bar>
    <div style="height: 50px;"></div>
  </div>
</div>
