<div >
<div class="avatar-shadow">
<img class="avatar" src="./assets/img/Hna.png"/>
</div>
<br/>
<p class="title">I'm Hannah Na-Cole </p>
<br/>
<p class="subtitle">A creative marketing professional based out of SoCal here to capture both still and moving moments</p>
<p class="subtitle">on my DSLR and do free design work for my cheap family and friends who are in need</p>
<div class="container">
<a  target="_blank" href="http://www.linkedin.com/in/hannah-na/" class="link"><fa-icon [icon]="faLinkedin" class="icon"></fa-icon></a>
<a  target="_blank" href="mailto: nahannah1@gmail.com" class="link"><fa-icon [icon]="faEnvelope" class="icon"></fa-icon></a>
<a  target="_blank" href="https://www.facebook.com/nahannah" class="link"><fa-icon [icon]="faFacebook" class="icon"></fa-icon></a>
<a  target="_blank" href="https://www.instagram.com/nahannah1/" class="link"><fa-icon [icon]="faInstagramSquare" class="icon"></fa-icon></a>
</div>
</div>
