.sticky {
  position: fixed;
  padding: 20px;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  /*outline: 1px solid black;*/
}
.menu-height-margin {
  height: 50px;
  width: 10px;
}
.menu-item {
  /*outline:1px solid black;*/
  font-size: 9pt;
  letter-spacing: 2px;
  font-family: 'Avenir-Light';
  outline: none;
}
.icon {
  font-size: 2em;
}
.bold {
  font-family: 'Avenir-Heavy';
}
.blackground {
  background-color: black;
}

.menu-wide {
  visibility: hidden;
}
.menu-mobile {
  visibility: visible;
  display: fixed;
  width: 100%;
  justify-content: flex-end;
  top: 0px;
  right: 0px;
}

@media screen and (min-width: 720px) {
  .menu-wide {
    visibility: visible;
  }
  .menu-mobile {
    visibility: hidden;
  }
}
