.rock-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
}
.rock-img {
	object-fit: cover;
  margin: 10px;
  width: 100%;
  height: auto;
}
