<!-- <youtube-player class="container" videoId="6L0R9-jSLuI"></youtube-player> -->
<div class="container">
	<!-- <button >
		<fa-icon [icon]="faPlay" class="icon"></fa-icon>
	</button> -->
		<img id="you-btn" class="you-btn" (click)="playFullscreen()" src="./assets/img/logos/frames.jpg" width="100%" height="100%" />

    <iframe muted id="youtube" class=""  src="http://www.youtube.com/embed/6L0R9-jSLuI?modestbranding=1&autoplay=1&controls=0&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&playlist=IsBInsOj8TY" frameborder="0"></iframe>
</div>