.container {
  display: flex;
  flex-direction: column;
  /*outline: 1px solid black;*/
  align-items: center;
}

.you-btn {
  width: 900px;
  height: 600px;
}
img {
  transition: opacity 0.25s;
}
img:hover {
  opacity: 0.7;
  background-color: gray;
  transition: opacity 0.25s;
}

.icon {
  color: white;
  font-size: 24px;
  margin-left: 4px;
}

.hidden {
  visibility: hidden;
}
