<!-- <youtube-player class="container" videoId="6L0R9-jSLuI"></youtube-player> -->
<div class="container youtube-container">
  <!-- <button >
		<fa-icon [icon]="faPlay" class="icon"></fa-icon>
	</button> -->
  <img
    id="you-btn"
    class="you-btn"
    (click)="playFullscreen()"
    src="./assets/img/logos/frames.jpg"
    width="100%"
    height="auto"
  />

  <iframe
    muted
    id="youtube"
    class=""
    height="0px"
    src="http://www.youtube.com/embed/oEYIpAy6Rls?modestbranding=1&autoplay=0&controls=0&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&playlist=oEYIpAy6Rls"
    frameborder="0"
  ></iframe>
</div>
