 <div class="social-container">
    <a target="_blank" href="http://www.linkedin.com/in/hannah-na/" class={{getStyle()}} 
      ><fa-icon [icon]="faLinkedin" class="icon"></fa-icon
    ></a>
    <a target="_blank" href="mailto: nahannah1@gmail.com" class={{getStyle()}}
      ><fa-icon [icon]="faEnvelope" class="icon"></fa-icon
    ></a>
    <a target="_blank" href="https://www.facebook.com/nahannah" class={{getStyle()}}
      ><fa-icon [icon]="faFacebook" class="icon"></fa-icon
    ></a>
    <a target="_blank" href="https://www.instagram.com/nahannah1/" class={{getStyle()}}
      ><fa-icon [icon]="faInstagramSquare" class="icon"></fa-icon
    ></a>
  </div>
