<div class="social-container">
  <a *ngIf="inUrl" target="_blank" href="{{ inUrl }}" class="{{ getStyle() }}"
    ><fa-icon [icon]="faLinkedin" class="icon"></fa-icon
  ></a>

  <a
    *ngIf="eUrl"
    target="_blank"
    href="mailto: {{ eUrl }}"
    class="{{ getStyle() }}"
    ><fa-icon [icon]="faEnvelope" class="icon"></fa-icon
  ></a>

  <a *ngIf="fbUrl" target="_blank" href="{{ fbUrl }}" class="{{ getStyle() }}"
    ><fa-icon [icon]="faFacebook" class="icon"></fa-icon
  ></a>

  <a *ngIf="igUrl" target="_blank" href="{{ igUrl }}" class="{{ getStyle() }}"
    ><fa-icon [icon]="faInstagramSquare" class="icon"></fa-icon
  ></a>

  <a *ngIf="youUrl" target="_blank" href="{{ youUrl }}" class="{{ getStyle() }}"
    ><fa-icon [icon]="faYoutube" class="icon"></fa-icon
  ></a>
</div>
