.feature-item{
	/*outline: 1px solid black;*/
	width: 250px;
	margin:30px;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.item-image{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: solid black;
	margin:20px;
	margin-left: 0px;

}
.title{
	font-family: "Avenir-Heavy"
}