.feature-item {
  /*outline: 1px solid black;*/
  width: 250px;
  margin: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.item-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /*border: solid black;*/
  margin: 20px;
  margin-left: 0px;
  margin-bottom: -10px;
}
.item-icon {
  width: 70px;
  height: 70px;
  /*margin: 15px;*/
}
.feat-title {
  font-size:14px;
  font-family: 'Avenir-Heavy';
}
