.quote-block {
  min-height: 100vh;
  width: 100%;
  background-color: #cce89a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  
}
.quote-icon-container {
  display: flex;
  flex-direction: row;
}
.q-icon {
  font-size: 3em;
}
.quote {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 18pt;
  margin-left: 20px;
  margin-right:20px;
}
.speaker {
  text-align: right;
  font-size: 12pt;
}
@media screen and (min-width:720px){
  .quote-block {
    padding: 100px;
  }
  .quote{
    /*font-size: 24pt;*/
    /*line-height: 36pt;*/
    margin-top: 42pt;
    margin-left: 20px;
    margin-right:20px;
    margin-right:0px;
  }
}
