<div class="identity-container">
  <div class="title">
  	DESIGN
	</div>


  <div  class="identity-row">
  	
  	<div class="identity-col">
  		<div style="width: 100%;padding:5px;">
  			<img src="./assets/img/logos/afro.gif" alt="alt img" width="100%" height="100%"/>
  		</div>
  		<div style="width: 100%;padding:5px;">
  			<img src="./assets/img/logos/rockson.jpg" alt="alt img" width="100%" height="100%" />
  		</div>
  	</div>
  	<div class="identity-col">
  		<div style="width: 100%;padding:5px;">
  			<img src="./assets/img/logos/taliaslong.jpg" alt="alt img" width="100%" height="100%"/>
  		</div>
  	</div>
  </div>

<mat-divider class="identity-divider"></mat-divider>


<div  class="identity-row">

  	<div class="identity-col">
  		<div style="width: 100%;padding:5px;height:100%;">
  			<img src="./assets/img/logos/cvcposter.jpg" alt="alt img" width="100%" />
  		</div>
  	</div>

  	<div class="identity-col">
  		<div class="socal-img">
  			<img src="./assets/img/logos/cvcsocal.png" alt="alt img" width="100%" />
  		</div>
  	</div>
	</div>

<mat-divider class="identity-divider"></mat-divider>

<div  class="identity-row">

  	<div class="identity-col">
  		<div style="width: 100%;padding:5px;height:100%;">
  			<p style="width:200px" >See archive files of videography
and heavy video editting work for a
creative arts / dance ministry called
TOMStudios. Plan to bring a lifestyle
one someday.</p>
  		</div>
  	</div>

  	<div class="identity-col">
  		<div style="width: 100%;height:100%;">
  			<img src="./assets/img/logos/dac2019_color.png" alt="alt img" width="100%"/>
  		</div>
  	</div>
	</div>

<!--
<hl>

"See archive files of videography
and heavy video editting work for a
creative arts / dance ministry called
TOMStudios. Plan to bring a lifestyle
one someday."

|| dac_2019color.png
 -->
</div>
