<div class="identity-container">
  <div class="title">
    FEATURED DESIGN
  </div>
  <div class="container">

    <div class="row feature-space">Talias Coffee & Tea</div>
    <div class="row">
      <div class="col-xs-12 col-md-6"  >
         <div class="row" style="width:100%;height:50%;align-items: center;justify-content: center;display: flex;" >
           <img
            src="./assets/img/logos/talias.jpg"
            style="margin:10%"
            height="auto"
            width="50%"
            alt="alt img"
          />
        </div>
        <div class="row" style="width:100%;height:50%;align-items: flex-end;justify-content: flex-end;display: flex;">
        <!-- <div class="col-xs-12 col-md-6" > -->
          <img
            src="./assets/img/logos/talias_cup.jpg"
            alt="alt img"
            width="100%"
            height="auto"
            style="max-height: 300px; background-size: cover;"
          />
        </div>
      </div>
  
    
    <div class="col-xs-12 col-md-6">
      <div style="width: 100%;height:100%; display:flex; justify-content: flex-end;">
        <img
          src="./assets/img/logos/taliaslong.jpg"
          alt="alt img"
          width="100%"
          height="auto"
        />
      </div>
    </div>
    
    </div>
  </div>

  <!-- <mat-divider class="identity-divider"></mat-divider> -->

  <div class="row identity-divider feature-space">Construction vs. Cancer (SoCal Chapter)</div>
  <div class="row">

      <div class="col-xs-12 col-md-6" >
        
        <img
          src="./assets/img/logos/cvcposter.jpg"
          alt="alt img"
          width="100%"
          height="auto"
        />
      
    </div>

      <div class="col-xs-12 col-md-6" >
      <a
        class="hover-img"
        href="https://acslar.ejoinme.org/constructionvscancer"
        target="blank"
      >
        <div class="socal-img">
          <img
            src="./assets/img/logos/cvcsocal.png"
            alt="alt img"
            width="100%"
          />
        </div>
      </a>
    </div>
  </div>

  <!-- <mat-divider class="identity-divider"></mat-divider> -->
  <div class="row identity-divider feature-space">Domestic Adoption Camp (Full Color & Screenprinting B&W)</div>
  <div class="row">
      <div class="col-xs-12 col-md-6" >
        <img
          src="./assets/img/logos/dac2019_color.png"
          alt="alt img"
          width="100%"
          height="auto"    
        />
      
      
    </div>
    <div class="col-xs-12 col-md-6" >
      
        <img
          src="./assets/img/logos/dac_bw.png"
          alt="alt img"
          
          width="100%"
          height="auto"    
        />
      
    </div>
  </div>
<div class="row identity-divider feature-space">Rokson Arms (Unpublished)</div>
<div class="row">
   <div class="col-xs-12 col-md-6" >
        <img
          src="./assets/img/logos/Rokson Dev/img-4390-copy_orig.jpg"
          alt="alt img"
          
          width="100%"
          height="auto"    
        />
    </div> 
    <div class="col-xs-12 col-md-6" >
      
      
        <img
          src="./assets/img/logos/rockson.jpg"
          alt="alt img"
          width="100%"
          height="auto"    
        />
      
      
    </div>
    </div>

  <!--
<hl>


|| dac_2019color.png
 -->
</div>
