<div class="identity-container">
  <div class="title">
    DESIGN
  </div>

  <div class="identity-row">
    <div class="identity-col">
      <div style="width: 100%; padding: 5px;">
        <img
          src="./assets/img/logos/afro.gif"
          alt="alt img"
          width="100%"
          height="100%"
        />
      </div>
      <div style="width: 100%; padding: 5px;">
        <img
          src="./assets/img/logos/rockson.jpg"
          alt="alt img"
          width="100%"
          height="100%"
        />
      </div>
    </div>
    <div class="identity-col">
      <div style="width: 100%; padding: 5px;">
        <img
          src="./assets/img/logos/taliaslong.jpg"
          alt="alt img"
          width="100%"
          height="100%"
        />
      </div>
    </div>
  </div>

  <mat-divider class="identity-divider"></mat-divider>

  <div class="identity-row">
    <div class="identity-col">
      <div style="width: 100%; padding: 5px; height: 100%;">
        <img
          src="./assets/img/logos/cvcposter.jpg"
          alt="alt img"
          width="100%"
        />
      </div>
    </div>

    <div  class="identity-col">
      <a class="hover-img" href="https://acslar.ejoinme.org/constructionvscancer" target="blank">
          <div class="socal-img">
            <img src="./assets/img/logos/cvcsocal.png" alt="alt img" width="100%" />
          </div>
      </a>
        </div>
  </div>

  <mat-divider class="identity-divider"></mat-divider>

  <div class="identity-row">
    <div class="identity-col" >
      <div style="width: 100%; padding: 5px; height: 100%;">
        <img src="./assets/img/logos/talias.jpg" style="margin:12%" alt="alt img" width="65%" />
      </div>
    </div>

    <div class="identity-col">
      <div style="width: 100%; height: 100%; padding: 5px;">
        <img
          src="./assets/img/logos/talias_cup.png"
          alt="alt img"
          style="width:100%"
        />
      </div>
    </div>
  </div>



  <mat-divider class="identity-divider"></mat-divider>

  <div class="identity-row">
  	<div class="identity-col">
  		<p style="width:50%">
Design work, namely, logo and literature development for companies, community and non-proft events.If you’re passionate about an event and in need of a logo, let me know.
</p>
  	</div>
    <div class="identity-col">
      <div style="width: 100%; height: 100%;">
        <img
          src="./assets/img/logos/dac2019_color.png"
          alt="alt img"
          width="140%"
          style="margin-left:-20%"
        />
      </div>
    </div>
  </div>

  <!--
<hl>


|| dac_2019color.png
 -->
</div>
