.feat-container {
  display: flex;
  /*border:1px solid black;*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  /*	background-color: gray;*/
}

@media screen and (min-width: 720px) {
  .feat-container {
    flex-direction: row;
  }
}
